@media (max-width: 1024px) {
    .login__container {
        padding-top: 150px !important;
    }
}

@media (max-width: 400px) {
    .login__container {
        padding-top: 140px !important;
    }
}

.login_btn_hv:hover {
    cursor: pointer;
    transform: scale(1.05);
}
