@media (max-width: 400px) {
    .questions__grid {
        width: 100% !important;
        padding-right: 15px !important;
        padding-left: 0 !important;
        margin: 0 auto; 
    }
    .questions__cards {
        padding-left: 15px !important;
    }
}